.topbar-patreon-gradient{
    background: linear-gradient(90deg, #ffffff 0%, #ffc39094 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}


.quick-access-mockup-code {
    user-select: none; /* Standard syntax */
    -webkit-user-select: none; /* WebKit */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}
  