<div class="navbar bg-base-100">
    <div class="flex-1 flex items-start mx-auto">
        <!-- El logo y el nombre de la marca se centrarán automáticamente gracias a mx-auto en los elementos adyacentes -->
        <a
        hx-get="/home" hx-headers='{{.FlatContext}}' hx-target="#topbar-component-default" hx-push-url="true" 
        class="btn btn-ghost normal-case bg-transparent hover:bg-transparent">
            <img src="https://svgshare.com/i/zLn.svg" alt="Logo" class="h-10 sm:h-20" />
            <span class="font-bold text-white text-2xl ml-[-1rem]">EinarGPT</span>
        </a>
        <!-- Se remueve mt-5 y se agrega mx-auto -->
        <ul class="menu menu-horizontal p-0 mx-auto mt-5">
            <li><a hx-get="/lessons" hx-headers='{{.FlatContext}}' hx-target="#topbar-component-default" hx-push-url="true" class="text-white font-bold text-lg">
                <i class="fas fa-book-open mr-2"></i>Lessons
            </a></li>

            <li><a
                hx-get="/events" hx-headers='{{.FlatContext}}' hx-target="#topbar-component-default" hx-push-url="true"  
                class="text-white font-bold text-lg">
                <i class="fas fa-calendar-alt mr-2"></i>Events
            </a></li>
            <!-- 
            <li><a
                hx-get="/docs" hx-headers='{{.FlatContext}}' hx-target="#topbar-component-default" hx-push-url="true"   
                class="text-white font-bold text-lg">
                <i class="fas fa-file-alt mr-2"></i>Docs
            </a></li>
            -->
        </ul>

        <!-- Agregar la clase ml-auto aquí moverá este ul al final del contenedor flex a la derecha -->
        <ul class="menu menu-horizontal p-0 ml-auto mt-5">
            <li><a class="text-white font-bold text-lg">
                <i class="fab fa-discord mr-2"></i>Discord
            </a></li>
            <li><a class="text-white font-bold text-lg">
                <i class="fab fa-github mr-2"></i>GitHub
            </a></li>
            <li><a class="text-white font-bold text-lg" href="https://www.patreon.com/tuUsuario" target="_blank" rel="noopener noreferrer">
                <span class="topbar-patreon-gradient">Login</span> 
            </a></li>
        </ul>
    </div>
</div>

<div hx-get="/{{.Context.topbarComponentDefault}}" hx-headers='{{.FlatContext}}' hx-trigger="load" hx-target="#topbar-component-default" hx-push-url="false"></div>

<div id="topbar-component-default">
</div>