<div class="container mt-20 mx-auto h-72 2xl:mt-24 2xl:h-80" style="display: grid; grid-template-columns: 1fr;">
    <div class="bg-gradient-to-r from-base-100 to-base-300 2xl:from-base-100 2xl:to-base-300">
        <div class="hero-content flex-col lg:flex-row p-10 2xl:p-12">
            <img src="https://i.ibb.co/pJw5MDr/Whats-App-Image-2023-11-07-at-15-08-28.jpg" class="w-64 rounded-lg shadow-2xl 2xl:w-72" />
            <div>
                <h1 class="text-4xl font-bold text-white 2xl:text-5xl">Learn With EinarGPT - Coming Soon!</h1>
                <p class="py-6 2xl:py-8 text-lg 2xl:text-xl">
                    Ready to revolutionize your learning experience? EinarGPT is about to launch a series of engaging lessons that will transform the way you interact with AI technology. From beginner to advanced levels, expand your knowledge with our expertly crafted tutorials, hands-on projects, and real-world applications. Stay tuned for an enriching educational journey that's tailored to ignite passion and foster innovation!
                </p>
            </div>
        </div>
    </div>
</div>
